{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-10">
            <h1>Welcome to SEEDSTARS</h1>
        </div>
    </div>
</div>
<div class="container">
    <p>
<h1>About Us</h1>

Seedstars World promotes, connects and invests up to $1 Million in emerging market startups
    through its exclusive startup competition in over 65 countries <h2><strong>What Makes So Unique</strong></h2>



<P>
Seedstars World is a Switzerland based startup competition that takes place in emerging markets. We run 65+ local competitions where we identify the best seed-stage startups, give them pitch training and award the winners with an opportunity to compete
    in the Seedstars Summit where one of them will be crowned Seedstars World Global Winner.
    </p>
</div>
{% endblock content %}

